[MASTER]

# Оценки за ошибки
disable = E0402, C0114, E0015, C0115, C0116, C3001

# Максимальное количество линий в модуле
max-line-length=120

# Отступы
indent-size=4

# Исключить проверки для определенных файлов или директорий
ignore = venv, migrations